<?xml version="1.0"?>
<model>
  <name>quadrotor</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>RoboEdge UAS Lab</name>
    <email>dev@roboedge.local</email>
  </author>
  <description>
    Minimal X500-class quadrotor UAV with IMU, GPS, FPV Camera, and ROS2 Twist velocity plugin.
  </description>
</model>
